<li class='clearfix'>
  <div class='wine_info'>

    <div class='wine_image'>
        <img src='{{ site.baseurl }}/img/wineries/wine_2.jpg'>
    </div>

    <div class='wine_info_container'>

      <div class="wine_title">
        2008 NIGHT
      </div>

      <div class='wine_winery_meta'>
        <span class='winery_name'></span><span class="product_meta_info">$69.90<span class="price_separator">|</span>750 ml</span>
      </div>
    </div>

      <div class='cart_item_total'>
        4 bottles = $262.82
      </div>

       <div class='wine_action '>
        <div class='add_button '>
          <a href=''><span>+</span></a>
        </div>
        <div class=' subtract_button'>
          <a href=''><span>-</span></a>
        </div>
        <div class=' remove_button'>
          <a href=''><span>Remove item</span></a>
        </div>
      </div>
  </div>
</li>
