<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>New District | {{page.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/style.css">
        <script src="//use.typekit.net/hrx0tcv.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
    </head>

    <body>
      <main>
        {% include store_body.html %}
      </main>

      <div id="cd-shadow-layer"></div>

      <div id="cd-cart">
          <h2 class=''>Your Cart</h2>

          <div class="cart_items_container">

            <div class='cart_store_group'>
              <div class='store_title grid_title'>
                Corcelettes
              </div>

              <ul class="cd-cart-items">

                {% include wine_incart.html %}

                {% include wine_incart.html %}

                {% include wine_incart.html %}

              </ul> <!-- cd-cart-items -->

              <div class='store_meta_info clearfix'>
                <div class="meta_store_label ">
                  Corcelettes Total
                </div>
                <div class="meta_store_total ">
                  <span class='store_total'>$764.24</span></br> + $25 shipping
                </div>
              </div>
            </div>


            <div class='cart_store_group'>
              <div class='store_title grid_title'>
                Little Straw
              </div>

              <ul class="cd-cart-items">

                {% include wine_incart.html %}

                {% include wine_incart.html %}


              </ul> <!-- cd-cart-items -->

              <div class='store_meta_info clearfix'>
                <div class="meta_store_label ">
                  Little Straw Total
                </div>
                <div class="meta_store_total ">
                  <span class='store_total'>$764.24</span></br> + $25 shipping
                </div>
              </div>
            </div>

          </div>

          <div class='cart_control'>
            <div class="cd-cart-total">
              <div class='store_meta_info clearfix'>
                <div class="meta_store_label ">
                  New District Total
                </div>
                <div class="meta_store_total ">
                  <span class='store_total'>$1764.24</span></br> + $85 shipping
                </div>
              </div>
            </div> <!-- cd-cart-total -->
             <div class='wine_action '>
              <p class="fieldset">
                <label class="cd-postal code" for="postal_code">Enter Your Postal Code to Refelect Shipping</label>
                <input class="" id="postal_code" type="text"  placeholder="Enter your postal code ">
                <a href="#0" class="hide-password">Enter</a>
                <!--<span class="cd-error-message">Error message here!</span>-->
              </p>
              <div class=' footer_button remove_button'>
                <a href=''><span>Checkout Now</span></a>
              </div>
            </div>
          </div>

      </div> <!-- cd-cart -->


      <script src="{{ site.baseurl }}/js/libs/jquery-1.8.3.min.js"></script>
      <script src="{{ site.baseurl }}/js/system/plugins.js"></script>
    </body>
</html>
